@import "../../global.scss";

.topbar {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  width: 100%;
  height: 70px;
  background-color: #fff;
  color: #000000;
  position: fixed;
  top: 0;
  z-index: 2;
  transition: all 1s linear;

  .wrapper {
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: flex-start;

      .logo {
        font-size: 30px;
        text-decoration: none;
        font-weight: 500;
        color: inherit;
        margin-right: 40px;
      }

      .itemContainer {
        display: flex;
        align-items: center;
        padding: 0 20px;
        margin-left: 100px;
  
        &:hover {
          transform: scale(1.1);
          font-weight: 900;
          cursor: help;
        }
        @include mobile {
          display: none;
        }

        .icon {
          padding: 0 5px;
          font-size: 18px;
          height: 25px;
          width: 25px;
        }

        .rightSide {
          margin-left: 170px;
        }

        span {
          font-size: 15px;
          font-weight: 400;
        }
      }
    }
    .right {
      .menu {
        display: flex;
        flex-direction: column;
        width: 32px;
        height: 25px;
        justify-content: space-between;
        cursor: pointer;

        span {
          width: 100%;
          height: 3px;
          background-color: #000000;
          transform-origin: left;
          transition: all 1s linear;
        }
      }
    }
  }
  &.active {
    background-color: #fe7e6d;
    color: #fff;
    h2 {
      color: black;
      font-weight: 400;
    }

    .menu {
      span {
        &:first-child {
          background-color: #fff;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: #fff;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
