@import "../../global.scss";

.portfolio {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 40px;
    overflow: hidden;

    @include mobile {
      font-size: 22px;
    }
  }

  ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;
    overflow: hidden;

    @include mobile {
      font-size: 19px;
      flex-wrap: wrap;
      justify-content: center;
      margin: 10px 5px;
    }
  }
  .container {
    width: 62%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;

    @include mobile {
      width: 100%;
      overflow: hidden;
    }

    .item {
      width: 200px;
      height: 200px;
      border-radius: 20px;
      border: 1px solid rgb(240, 239, 239);
      margin: 10px 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      transition: all 0.5s linear;
      cursor: pointer;

      @include mobile {
        width: 120px;
        height: 100px;
      }

      h3 {
        position: absolute;
        padding: 15px;
        z-index: -2;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:hover {
        background-color: $mainColor;

        h3 {
          z-index: 2;
          font-size: 16px;
        }

        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
    }
  }
}
