@import "../../global.scss";

.intro {
  background-color: #fff;
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .left {
    flex: 4;
    overflow: hidden;

    @include mobile {
      flex: 8;
    }

    .imgContainer {
      height: 450px;
      width: 450px;
      background-color: #fe7e6d;
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      float: right;
      margin-top: 50px;
      transform: matrix3d(-50%, 50%);
      animation: slide 2.5s linear;

      @include mobile {
        align-items: flex-start;
      }

      @keyframes slide {
        0% {
          background-color: #461111;
          top: 0px;
          transform: translate(-50%, -50%);
          border-radius: 5%;
        }
        50% {
          background-color: #9b0000;
          top: 0px;
          border-radius: 35%;
          transform: translate(50%, 50%);
          opacity: 0;
        }
        100% {
          background-color: #fe7e6d;
          border-radius: 50%;
        }
      }
      img {
        height: fit-content;

        @include mobile {
          height: 50%;
        }
      }
    }
  }
  .right {
    flex: 6;
    position: relative;
    overflow: hidden;
    @include mobile {
      flex: 8;
    }

    .wrapper {
      width: 100%;
      height: 100%;
      margin-left: 250px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      color: #000000;

      @include mobile {
        width: 169px;
        margin: 50px 50px 200px 0;
        justify-content: flex-start;
      }

      h1 {
        font-size: 60px;
        margin: 10px 0;
        @include mobile {
          font-size: 28px;
        }
      }
      h2 {
        font-size: 35px;
        @include mobile {
          font-size: 24px;
        }
      }
      h3 {
        font-size: 30px;
        @include mobile {
          font-size: 20px;
        }

        span {
          font-size: inherit;
          color: #fe7e6d;
          @include mobile {
            font-size: 20px;
          }
        }

        .ityped-cursor {
          animation: blink 1s infinite;
        }

        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }
    a {
      position: absolute;
      bottom: 10px;
      left: 41%;

      img {
        width: 60px;
        animation: arrowBlink 1s infinite;

        @include mobile {
          height: 35px;
          width: 35px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      @keyframes arrowBlink {
        50% {
          margin-bottom: 8px;
        }
      }
    }
  }
}
