

$mainColor: #15023a;

$width_mobile: 480px;
$width_laptop : 1440px;
$width_tab: 820px;

@mixin mobile {
  @media (max-width: #{$width_mobile}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$width_laptop}) {
    @content;
  }
}

@mixin tab {
  @media (max-width: #{$width_tab}) {
    @content;
  }
}
