$mainColor: #15023a;

$width_mobile: 480px;
$width_tab: 768px;

@mixin mobile {
  @media (max-width: #{$width_mobile}) {
    @content;
  }
}

@mixin tab {
  @media (max-height: #{width_tab}) {
    @content;
  }
}
